@model Assignment.ViewModel.EditTask


<div class="modal fade" id="AddTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Task Form</h5>
                <button type="button" class="btn-close closeModalBtn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-floating" id="AddTaskForm" asp-action="AddTask" method="post" asp-controller="Home">
                    <div class="row g-2 m-1">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" id="TaskName" name="TaskName" asp-for="TaskName" class="form-control" placeholder="" />
                                <label for="TaskName">Task Name</label>
                            </div>
                            <span asp-validation-for="TaskName" class="text-danger" id="TaskNameError"></span>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" id="Assignee" name="Assignee" asp-for="Assignee" class="form-control" placeholder="" />
                                <label for="Assignee">Assignee</label>
                            </div>
                            <span asp-validation-for="Assignee" class="text-danger" id="AssigneeError"></span>
                        </div>
                    </div>
                    <div class="row g-2 m-1">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" id="Description" name="Description" asp-for="Description" class="form-control" placeholder="" />
                                <label for="Description">Description</label>
                            </div>
                            <span asp-validation-for="Description" class="text-danger" id="DescriptionError"></span>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="date" id="DueDate" name="DueDate" asp-for="DueDate" class="form-control" placeholder="" />
                                <label for="DueDate">DueDate</label>
                            </div>
                            <span asp-validation-for="DueDate" id="DueDateError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row g-2 m-1">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" id="City" name="City" asp-for="City" class="form-control" placeholder="" />
                                <label for="City">City</label>
                            </div>
                            <span asp-validation-for="City" class="text-danger" id="CityError"></span>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <select asp-for="CategoryId" class="form-select" name="CategoryId" id="CategoryId" aria-label="Floating label select example">
                                    @foreach (var item in Model.categories)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <label for="CategoryId">Category</label>
                            </div>
                            <span asp-validation-for="CategoryId" class="text-danger" id="CategoryIdError"></span>
                        </div>
                    </div>
                    <div class="row g-2 m-1">
                        <div class="col-6">

                            <button type="button" data-bs-dismiss="modal" class="btn btn-outline-success w-100 closeModalBtn">
                                Cancel
                            </button>
                        </div>
                        <div class="col-6">

                            <button type="button" id="submitBtn" class="btn btn-success w-100">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(".closeModalBtn").click(function () {
        $("#AddModalDiv").empty();
    })
    $("#submitBtn").click(function () {
        var taskName = $("#TaskName").val();
        if (taskName.length == 0) {
            $("#TaskNameError").text('Please Enter this value.');
        } 
        else if ($("#CategoryId").val() == 0) {
            $("#CategoryIdError").text('Please Enter this value.');
        }
        else if ($("#DueDate").val() == null || $("#DueDate").val() == ''){
            $("#DueDateError").text('Please Enter this value.');
        }
        else if ($("#City").val().length == 0) {
            $("#CityError").text('Please Enter this value.');
        }
        else if ($("#Description").val().length == 0) {
            $("#DescriptionError").text('Please Enter this value.');
        }
        else if ($("#Assignee").val().length == 0) {
            $("#AssigneeError").text('Please Enter this value.');
        }
        else {
            $("#AddTaskForm").submit();
        }
    })
</script>