@model CreateShift;
<div class="modal fade" id="CreateShiftModel" tabindex="-1" aria-labelledby="newReqModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01bce9; color:white;">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Shift</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <form id="CreateShiftForm">




                        <div class="row g-2">
                            <div class="col-12 mb-3">
                                <select asp-for="Regionid" class="form-select form-select  RegionSelect" id="RegionSelect" aria-label="Large select example">
                                    <option value="0" disabled="disabled"> Select Region</option>
                                    @foreach (var item in Model.Regions)
                                    {
                                        <option value="@item.Regionid">@item.Name</option>
                                    }
                                </select>
                                <span class="text-danger "></span>
                            </div>
                            <div class="col-12">
                                <select asp-for="Physicianid" class="form-select form-select mb-3 PhysicianSelect" id="PhysicianSelect" aria-label="Large select example">
                                    <option value="0">Select Physician</option>
                                </select>
                                <div class="text-danger"></div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input asp-for="Startdate" type="date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="" id="Startdate">
                                    <label for="">ShiftDate</label>
                                </div>
                                <span class="text-danger" id="dateError" asp-validation-for="Startdate"></span>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input asp-for="StartTime" type="time" id="StartTime" class="form-control" placeholder="">
                                    <label for="">start</label>
                                </div>
                                <span class="text-danger" asp-validation-for="StartTime"></span>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input asp-for="EndTime" type="time" id="EndTime" class="form-control" placeholder="">
                                    <label for="">End</label>
                                </div>
                                <span class="text-danger" asp-validation-for="EndTime"></span>
                            </div>
                            <div class="col-12">
                                <span class="text-danger" id="timeError"></span>
                            </div>
                        </div>
                        <div class="row g-2 m-1">
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    <input asp-for="Isrepeat" class="form-check-input" type="checkbox" role="slider" id="RepeatToggle">
                                    <label asp-for="Isrepeat" class="form-check-label" for="RepeatToggle">Repeat</label>
                                </div>
                            </div>
                        </div>
                        <div id="repeatDiv" class="d-none">
                            <h6>Repeat Days</h6>

                            <div class="row g-2">

                                <div class="col-4">

                                    <input class="DaysCheckbox" type="checkbox" id="1" name="1" value="1" />
                                    <label for="1">Every Monday</label>
                                </div>
                                <div class="col-4">
                                    <input class="DaysCheckbox" type="checkbox" id="2" name="2" value="2" />
                                    <label for="2">Every Tuesday</label>
                                </div>
                                <div class="col-4">
                                    <input class="DaysCheckbox" type="checkbox" id="3" name="3" value="3" />
                                    <label for="3">Every Wednesday</label>
                                </div>
                                <div class="col-4">
                                    <input class="DaysCheckbox" type="checkbox" id="4" name="4" value="4" />
                                    <label for="4">Every Thursday</label>
                                </div>
                                <div class="col-4">
                                    <input class="DaysCheckbox" type="checkbox" id="5" name="5" value="5" />
                                    <label for="5">Every Friday</label>
                                </div>
                                <div class="col-4">
                                    <input class="DaysCheckbox" type="checkbox" id="6" name="6" value="6" />
                                    <label for="6">Every Saturday</label>
                                </div>
                                <div class="col-4">
                                    <input class="DaysCheckbox" type="checkbox" id="7" name="7" value="7" />
                                    <label for="7">Every Sunday</label>
                                </div>
                                <div class="col-12">

                                    <select asp-for="Repeatupto" class="form-select form-select mb-3" aria-label="Large select example">
                                        <option value="">Repeat End</option>
                                        <option value="1">1-time</option>
                                        <option value="2">2-time</option>
                                        <option value="3">3-time</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SaveShiftBtn">Save</button>
                <button type="button" class="btn btn-outline-primary CloseModal" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#RepeatToggle").click(function () {
        var b = $(this).prop('checked');
        if (b) {
            $("#repeatDiv").removeClass('d-none');
        }
        else {
            $("#repeatDiv").addClass('d-none');
        }
    })

    $(".RegionSelect").change(function () {
        var selectedRegion = $(this).val();

        if (selectedRegion == null || selectedRegion == 0) {
            document.getElementById("RegionSelect").nextElementSibling.textContent = "Select Region!!";
            $("#SaveShiftBtn").removeAttr('disabled');
        } else {
            document.getElementById("RegionSelect").nextElementSibling.textContent = "";
            $("#SaveShiftBtn").removeAttr('disabled');
        }

        $.ajax({
            url: '/AdminDashboard/FilterPhysician',
            method: 'POST',
            data: {
                region: selectedRegion
            },
            success: function (response) {
                $(".PhysicianSelect").empty();
                $(".PhysicianSelect").append($('<option>').text('Select Physician').val(0));
                $.each(response, function (index, doctor) {
                    $(".PhysicianSelect").append($('<option>').text(doctor.physicians).val(doctor.physicianId));
                })
            }
        })
    })

    $(".PhysicianSelect").change(function () {
        console.log($("#PhysicianSelect").val())
        if ($("#PhysicianSelect").val() == null || $("#PhysicianSelect").val() == 0) {
            document.getElementById("PhysicianSelect").nextElementSibling.textContent = "Select Physician!!"
        } else {
            document.getElementById("PhysicianSelect").nextElementSibling.textContent = "";
        }
    })

    $("#StartTime").change(function () {
        var startTime = $(this).val();
        var EndTime = $("#EndTime").val();
        if (EndTime <= startTime) {
            $("#timeError").text("Select Proper Time!!");
            $("#SaveShiftBtn").attr('disabled', 'disabled');
        } else {
            console.log("error n")
            $("#SaveShiftBtn").removeAttr('disabled');
            $("#timeError").text("");
        }
    })
    $("#EndTime").change(function () {
        var EndTime = $(this).val();
        var startTime = $("#StartTime").val();
        if (startTime >= EndTime) {
            $("#timeError").text("Select Proper Time!!");
            $("#SaveShiftBtn").attr('disabled', 'disabled');
        } else {
            console.log("error n")
            $("#timeError").text("");
            $("#SaveShiftBtn").removeAttr('disabled');
        }
    })

    $("#Startdate").on('change', function(){
        var input = new Date($(this).val());
        var currentDate  =new Date();
     

        if(input < currentDate){
            $("#dateError").text("Select Proper Date!!");
        }else{
            $("#dateError").text("");
        }
        console.log(input);
    })

    $("#SaveShiftBtn").click(function () {
        var input = new Date($("#Startdate").val());
        console.log($("#Startdate").val())
        var currentDate = new Date();
        if ($("#RegionSelect").val() == null || $("#RegionSelect").val() == 0) {
            document.getElementById("RegionSelect").nextElementSibling.textContent = "Select Region!!"
        }
        if ($("#PhysicianSelect").val() == null || $("#PhysicianSelect").val() == 0) {
            document.getElementById("PhysicianSelect").nextElementSibling.textContent = "Select Physician!!"
        }
        var startTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        if (EndTime <= startTime) {
            $("#timeError").text("Select Proper Time!!");
            $("#SaveShiftBtn").attr('disabled', 'disabled');
        }
        if (input < currentDate || $("#Startdate").val() == "") {
            $("#dateError").text("Select Proper Date!!");
        }
        if ($("#RegionSelect").val() != null && $("#RegionSelect").val() != 0 && $("#PhysicianSelect").val() != null && $("#PhysicianSelect").val() != 0 && input >= currentDate && EndTime > startTime) {

            var selectedDays = [];
            $(".DaysCheckbox").each(function () {

                var checkboxdata = {
                    Id: parseInt($(this).attr('id')),
                    value: $(this).val(),
                    Checked: $(this).is(':checked')
                };

                selectedDays.push(checkboxdata);
            })

            var formdata = new FormData($("#CreateShiftForm")[0]);

            formdata.append('selectedDays', JSON.stringify(selectedDays));
            $.ajax({
                url: '/ProvidersMenu/CreateShift',
                type: 'POST',
                data: formdata,
                processData: false,
                contentType: false,
                success: function () {
                    $("#CreateShiftModel").modal('toggle');
                    location.reload();
                }
            })
        }

    })
</script>