@model IEnumerable<DayScheduling>;
@{
    var groupedDoctors = Model.GroupBy(x => x.PhysicianName);
}
<table class="table table-bordered ">
    <tr class="table-secondary">
        <td class="w-25">Staff</td>
        @for (int hour = 0; hour < 24; hour++)
        {
            <td>@hour:00</td>
        }
    </tr>

    @foreach (var group in groupedDoctors)
    {
        var bg = "";
        var item = group.First();
     
        <tr>
            <td class="w-25">@item.PhysicianName</td>
            @for (var hour = 0; hour < 24; hour++)
            {
                var currentHour = hour;
                var slotFound = false;
                var colspan = 1;
                var id = 0;
                var timeDisplay = "";
                foreach (var schedule in group)
                {
                    if (schedule.StartTime.HasValue && schedule.EndTime.HasValue &&
                    currentHour >= schedule.StartTime.Value.Hour &&
                    currentHour < schedule.EndTime.Value.Hour)
                    {
                        var dif = schedule.EndTime.Value.Hour - schedule.StartTime.Value.Hour;
                        var start = schedule.StartTime.Value.Hour;
                        var end = schedule.EndTime.Value.Hour;
                        var startMin = schedule.StartTime.Value.Minute;
                        var endMin = schedule.EndTime.Value.Minute;
                        var startHourString = start.ToString().PadLeft(2, '0');
                        var endHourString = end.ToString().PadLeft(2, '0');
                        var startMinString = startMin.ToString().PadLeft(2, '0');
                        var endMinString = endMin.ToString().PadLeft(2, '0');
                        timeDisplay = $"{startHourString}:{startMinString} - {endHourString}:{endMinString}";
                        colspan = Math.Max(colspan, dif);
                        currentHour += dif - 1; // Adjust currentHour to skip already covered hours
                        slotFound = true;
                        id = (int)schedule.shiftDetailId;
                        if (schedule.status == 2)
                        {
                            bg = "#90ee90";
                        }
                        else
                        {
                            bg = "#ffc0cb";
                        }

                        break;
                    }
                }
                if (slotFound)
                {
                    <td colspan="@colspan" style="background-color: @bg;">
                        <a class="btn viewShiftBtn" data-id="@id">
                            @timeDisplay
                        </a>
                    </td>
                    // Move to the next hour after the colspan
                    hour += (colspan - 1);
                }
                else
                {
                    <td></td>
                }
            }
        </tr>
    }
    </table>
<script>
    $(".viewShiftBtn").click(function () {
        console.log($(this).data('id'));
        $("#modelDiv").load('/ProvidersMenu/ViewShift?shiftDetailId=' + $(this).data('id'), function (response, status, xhr) {
            if (status == "success") {
                $("#CreateShiftModel").modal('show');
            } else {
                console.log("Error loading partial view" + xhr.status + " " + xhr.statusText);
            }
        });
    })
</script>