@model IEnumerable<DayScheduling>;
<table class="table table-bordered table-responsive">
    <tr>
        <td class="w-25">Staff</td>
        <td>12A</td>
        <td>1A</td>
        <td>2A</td>
        <td>3A</td>
        <td>4A</td>
        <td>5A</td>
        <td>6A</td>
        <td>7A</td>
        <td>8A</td>
        <td>9A</td>
        <td>10A</td>
        <td>11A</td>
        <td>12P</td>
        <td>1P</td>
        <td>2P</td>
        <td>3P</td>
        <td>4P</td>
        <td>5P</td>
        <td>6P</td>
        <td>7P</td>
        <td>8P</td>
        <td>9P</td>
        <td>10P</td>
        <td>11P</td>
    </tr>
    <tr>
        <td class="w-25">Coverage</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        var bg = "";
        if(item.status == 2)
        {
            bg = "#90ee90";
           
        }
        else
        {
            bg = "#ffc0cb";
        }
        if (item.ShiftDate == item.SelectedDate || item.ShiftDate == null)
        {
            
            <tr>
                <td class="w-25">@item.PhysicianName</td>
                
                @for (var i = 0; i < 24; i++)
                {
                    
                    if (i == 0)
                    {
                        i = 24;
                    }
                    if (item.StartTime.HasValue && item.EndTime.HasValue)
                    {
                        var Start = item.StartTime.Value;
                        var End = item.EndTime.Value;
                        var dif = item.EndTime.Value.Hour - item.StartTime.Value.Hour;

                        if (i >= item.StartTime.Value.Hour && i <= item.EndTime.Value.Hour)
                        {
                            <td colspan="@dif" style="background-color: @bg;">
                                <a class="btn viewShiftBtn" data-id = "@item.shiftDetailId">
                                    @Start @End @item.PhysicianName
                                </a>
                            </td>
                            i = i + dif;
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    else
                    {
                        <td></td>
                    }
                    if (i == 24)
                    {
                        i = 0;
                    }
                }
            </tr>
        }
    }
</table>

<script>
    $(".viewShiftBtn").click(function () {
        console.log($(this).data('id'));
        $("#modelDiv").load('/ProvidersMenu/ViewShift?shiftDetailId='+ $(this).data('id'), function (response, status, xhr) {
            if (status == "success") {
                $("#CreateShiftModel").modal('show');
            } else {
                console.log("Error loading partial view" + xhr.status + " " + xhr.statusText);
            }
        });
    })
</script>