<table class="table table-responsive">
    <thead>
        <tr class="table-secondary">
            <td>Shiftdate</td>
            <td>Shift</td>
            <td>Nightshift weekend</td>
            <td>Housecall</td>
            <td>Housecall Nightshift weekend</td>
            <td>Phone counsults</td>
            <td>Phone counsults Nightshift weekend</td>
            <td>Batch testing</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>