@using Microsoft.AspNetCore.Http.Extensions;
@model AspNetUser;
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_login";
}


@section Styles {
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="bg-img position-fixed">
</div>
<div class="row " id="main-container">
    @*<div class="d-none d-md-block col-md-6">
        <img src="~/images/11116016_415.jpg" id="login-img" class="img-fluid h-100" alt="">
    </div>*@
    <div id="main" class="col-md position-relative">
        <button id="light-dark-btn" type="button" class="btn border border-black m-2 m-lg-4  float-end"
                onclick="lightDark()">
            <img src="~/images/dark_mode_black_24dp.svg" alt="">
        </button>
        <div id="form-div" class="container-fluid d-flex flex-column   w-lg-50">
            <div class="d-none d-md-block m-auto">
                <img src="~/images/Fig1. Platform login page.jpg" id="login-page-logo" class=" mb-5" alt="">
            </div>
            <div class="d-md-none">
                <a asp-action="index" asp-controller="Home" class="text-decoration-none" id="back-btn">
                    <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="" alt="">
                    <span>Back</span>
                </a>
            </div>
            <form id="login-form" class="form-floating m-auto" method="post" asp-action="forget_password_page" asp-controller="Home">
                <h1 class=" mb-5">Reset Your Password</h1>
                <div class="input-div form-floating mb-3 d-flex border rounded">
                    <input asp-for="Email" type="text" class="form-control" id="floatingInput" placeholder="username">
                    <label for="floatingInput">Email Address</label>
                    <img src="~/images/user_circle.svg" class="pe-3" alt="">
                </div>
                <div class="form-floating mb-3">
                    <button id="login-btn" class="btn-primary border rounded border-2 w-100">Reset Password</button>
                </div>
                <div class="form-floating mb-3">
                    <a asp-action="login" asp-controller="Home" class="text-decoration-none" id="back-btn">
                        <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="" alt="">
                        <span>Back To Login</span>
                    </a>
                </div>
            </form>

        </div>
        <footer class="footer">
            <span class="border-end border-black border-2 mb-3 pe-3">Terms and Conditions</span>
            <span class="ps-3">Privacy Policy</span>
        </footer>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/login.js"></script>
}
