@{
    ViewData["Title"] = "Home Page";
     Layout = "_login";
}

@section Styles{
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/patient-site.css">
}
<div class="bg-img position-fixed" >
</div>
<div class="bg-lg-light position-relative">
    <button id="light-dark-btn" type="button" class="btn border border-black m-3 m-lg-4 float-end"
                onclick="lightDark()">
                <img src="~/images/dark_mode_black_24dp.svg" alt="">
            </button>
    <div id="patient-site-form-div" class="mt-5 container-fluid d-flex flex-column w-lg-50">
        <div class="d-none d-md-flex w-100 justify-content-center">
            <img src="~/images/Fig1. Platform login page.jpg" class="img-fluid w-sm-100 w-lg-25 mb-5" alt="">
        </div>
        <form id="patient-site-form" class="form-floating m-auto" action="">
            <div class="form-floating mb-3 patient-site-form-div">
                <button id="submit-request-btn" class="btn-primary border rounded border-2 w-100"
                    asp-action="submitRequestScreen" asp-controller="Request">Submit A Request</button>
            </div>
            <div class="form-floating mb-3 patient-site-form-div">
                <button id="register-patient-btn" class="btn-primary border rounded border-2 w-100" asp-action="login"
                    asp-controller="Home">Registered Patients</button>
            </div>
            <div class="form-floating mb-3 patient-site-form-div">
                <button id="register-patient-btn" class="btn-primary border rounded border-2 w-100" asp-action="login"
                        asp-controller="AdminLogin">
                    Admin
                </button>
            </div>
        </form>
    </div>
</div>

 @section  Scripts {
        <script src="~/js/login.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    }