
<div class="modal fade" id="cancelModel" tabindex="-1" aria-labelledby="newReqModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01bce9; color:white;">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Cancellation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <form method="post">
                        <h5>Patient Name: </h5>
                        <select class="form-select form-select mb-3" aria-label="Large select example">
                            <option selected>Reasons for Cancellation</option>
                            <option value="1">No Respone to call or text, left message</option>
                            <option value="2">Cost Issue</option>
                            <option value="3">Insurance Issue</option>
                            <option value="4">Out of Service Area</option>
                            <option value="5">Not appropriate for service</option>
                            <option value="6">Referral to Clinic or Hospital</option>
                        </select>
                        <div class="form-floating m-1 form-div">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                      style="height: 100px"></textarea>
                            <label for="">Provide Additional Notes</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitCacelBtn"  class="" style="background-color: #01bce9; color:white;" data-bs-dismiss="modal">Confirm</button>
                <button type="button" class="btn" style="color: #01bce9; border: #01bce9 1px solid;" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
