@model FamilyViewModel
@{
    ViewData["Title"] = "Family Friend Request";
}

@section Styles {
    <link rel="stylesheet" href="~/css/submit-request-screen.css" />
    <link rel="stylesheet" href="~/css/create-patient-request.css" />

    <!-- js ans css for phone input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <!-- pop up window-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
}



<!-- alert box -->
<div class="modal fade" tabindex="-1" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modalContent">
            <div class="modal-body">
                @* <img src="~/images/exclamation2.jpg" alt="" id="warning-icon"> *@
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="white"
                        class="bi bi-exclamation-circle" viewBox="0 0 16 16"
                        style="background-color: #ffc107;border:3px #ffc107 solid;   border-radius: 100%;">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                    </svg>
                <h4>Information</h4>
                <p>When submitting a request, you must provide the correct contact information about the patient or
                    the responsible party. Failure to provide correct phone number and email will delay service or
                    be declined.</p>
            </div>
            <div class="modal-footer m-auto">
                <button class="btn" id="alertBoxBtn" data-dismiss="modal" onclick="closeModal()">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
<div class="d-block ms-auto me-auto" style="max-width: 1000px; width: 100%; ">
    <a asp-controller="Request" asp-action="submitRequestScreen" class="m-2 text-decoration-none float-end" id="create-patient-request-backBtn">
        <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
        <span>Back</span>
    </a>
    <br>
    <br>
</div>
<div class="container-fluid d-flex justify-content-center">

    <form id="patient-request-form" asp-controller="Request" asp-action="createFamilyfriendRequest" enctype="multipart/form-data" class="form-floating patient-request-form p-2">
        <h4 class="mt-4 mb-4 ms-2">Family/Friend Information</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row g-2 m-1">
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="FamilyFirstname" type="text" class="form-control" placeholder="">
                    <label for="">Your First Name</label>
                    <span asp-validation-for="FamilyFirstname" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="FamilyLastname" type="text" class="form-control" placeholder="">
                    <label for="">Your Last Name</label>
                    <span asp-validation-for="FamilyLastname" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating phone-div w-100 h-100 ">
                    <input asp-for="FamilyPhonenumber" type="tel" class="friendPhone form-control w-100 h-100" id="otherPhone" placeholder="">
                    <label for=""></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="FamilyEmail" type="email" class="form-control" placeholder="name@example.com">
                    <label for="">Your Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <span asp-validation-for="FamilyPhonenumber" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <span asp-validation-for="FamilyEmail" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="RelationWithPatient" type="text" class="form-control" placeholder="">
                    <label for="">Relation With Patient</label>
                    <span asp-validation-for="RelationWithPatient" class="text-danger"></span>
                </div>
            </div>
        </div>

        <partial name="_PatientForm" />

        <h4 class="mt-4 mb-4 ms-2">(Optional) Upload Photo or Document</h4>
        <div class="input-group m-1 mb-3">
            <input type="file" asp-for="formFile" id="actualFileBtn" class="form-control" id="inputGroupFile02" hidden>
            <span id="fileChoosen" class="form-control">No file chosen</span>
            <label class="input-group-text" id="uploadFileLabel" for="actualFileBtn">
                <img src="~/images/cloud_upload.svg" alt="">
                Upload
            </label>
        </div>

        <button type="submit" id="cancelBtn" class="btn btn-primary float-end m-1">Cancel</button>
        <button type="submit" id="submitBtn" class="btn btn-primary float-end m-1">Submit</button>
    <br><br><br><br><br>    
    </form>
</div>

@section Scripts {
        <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/pop up.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}