@model PatientViewModel
@{
    ViewData["Title"] = "Patient Request";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/submit-request-screen.css" />
    <link rel="stylesheet" href="~/css/create-patient-request.css" />
    <link rel="stylesheet" href="~/css/validation.css" />
    <style>
        .row {
            --bs-gutter-x: 1rem;
        }
    </style>
    <!-- js ans css for phone input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}

<div class="d-block ms-auto me-auto" style="max-width: 1000px; width: 100%; ">
    <a asp-action="submitRequestScreen" asp-controller="Request" class="m-2 text-decoration-none float-end"
       id="create-patient-request-backBtn">
        <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
        <span>Back</span>
    </a>
    <br>
    <br>
</div>

<div class="container-fluid d-flex justify-content-center">
    <form method="post" asp-controller="Request" asp-action="createPatientRequest" enctype="multipart/form-data" id="patient-request-form" class="form-floating patient-request-form p-2">

        <partial name="_PatientForm" />

        <h4 class="mt-4 mb-4 ms-2">(Optional) Upload Photo or Document</h4>
        <div class="input-group m-1 mb-3">
            <input asp-for="formFile" type="file" id="actualFileBtn" class="form-control" hidden>
            <span asp-validation-for="formFile" id="fileChoosen" class="form-control">No file chosen</span>
            <label class="input-group-text" id="uploadFileLabel" for="actualFileBtn">
                <img src="~/images/cloud_upload.svg" alt="">
                Upload
            </label>
        </div>
        <button type="submit" id="cancelBtn" class="btn btn-primary float-end m-1">Cancel</button>
        <button type="submit" id="submitBtn" class="btn btn-primary float-end m-1">Submit</button>
    </form>
</div>
<br>
<br>
<br>
<br>

@section Scripts {
    <script src="~/js/password.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/pop up.js" asp-append-version="true"></script>
    <script src="~/js/Validation.js" asp-append-version="true"></script>
    <script>
        $("#submitBtn").click(function () {
            console.log($(".iti__selected-dial-code").text());
            $("#patientCountryCode").val($(".iti__selected-dial-code").text());
        })
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}