@model PatientViewModel

<h4 class="mt-4 mb-4 ms-2">Patient Information</h4>
<div class="form-floating m-1 form-div">
    <textarea asp-for="Notes" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
              style="height: 100px"></textarea>
    <label for="">Enter Brief Details Of Symptoms</label>
</div>
<div class="row g-2 m-1">
    <div class="col-md">
        <div class="form-floating">
            <input asp-for="Firstname" type="text" class="form-control" placeholder="">
            <label for="">First Name</label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input asp-for="Lastname" type="text" class="form-control" placeholder="">
            <label for="floatingSelectGrid">Last Name</label>
        </div>
    </div>
</div>

<div class="row g-2 m-1 ">
    <div class="col-md-6">
        <div class="form-floating">
            <input asp-for="Strmonth" type="date" class="form-control" placeholder="">
            <label for="">Date Of Birth</label>
        </div>
    </div>
</div>

<h4 class="mt-4 mb-4 ms-2">Patient Contact Information</h4>
<div class="row g-2 m-1">
    <div class="col-md-6">
        <div class="form-floating">
            <input id="checkEmail" asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
            <label for="">Email</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating phone-div w-100 h-100 ">
            <input asp-for="Phonenumber" type="tel" class="patientPhone form-control w-100 h-100" placeholder="">
            <label for=""></label>
        </div>
    </div>


</div>
<div id="hideRelation" class="d-none">
    <h4 class="mt-4 mb-4 ms-2">Relation</h4>
    <div class="row g-2 m-1">

    <div class="col-md-6">
        <div class="form-floating">
            <input  type="text" class="form-control" placeholder="">
            <label >Relation with Patient</label>
        </div>
    </div>
    </div>
</div>

<h4 class="mt-4 mb-4 ms-2">Patient Location</h4>
<div class="row g-2 m-1">
    <div class="col-md-6">
        <div class="form-floating">
            <input asp-for="Street" type="text" class="form-control" placeholder="">
            <label for="">Street</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating">
            <input asp-for="City" type="text" class="form-control" placeholder="">
            <label for="">City</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating">
            <input asp-for="State" type="text" class="form-control" placeholder="">
            <label for="">State</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating">
            <input asp-for="Zipcode" type="text" class="form-control" placeholder="">
            <label for="">Zip Code</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="">
            <label for="">Room #/ Suite(Optional)</label>
        </div>
    </div>
</div>