body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

header {
    /* background-color: white; */
    width: 100vw;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 1 0 0 black;
}

.nav-link:active,
.nav-link.active {
    color: #01bce9;
    border-bottom: 1px solid #01bce9;
}

#logout-btn {
    color: #01bce9;
    border: 1px solid #01bce9;
}

#light-dark-btn {
    filter: invert(55%) sepia(96%) saturate(2452%) hue-rotate(154deg) brightness(102%) contrast(99%);
}

#logoutImg {
    filter: invert(55%) sepia(96%) saturate(2452%) hue-rotate(154deg) brightness(102%) contrast(99%);
}

#addImg {
    filter: invert(55%) sepia(96%) saturate(2452%) hue-rotate(154deg) brightness(102%) contrast(99%);
}

#listImg {
    filter: invert(55%) sepia(96%) saturate(2452%) hue-rotate(154deg) brightness(102%) contrast(99%);
}

#uploadFile {
    filter: invert(55%) sepia(96%) saturate(2452%) hue-rotate(154deg) brightness(102%) contrast(99%);
}

.footer {
    height: 5vh;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 3;
}


#navToggle li a.active {
    color: #01bce9;
    border-bottom: 1px solid #01bce9;
    background: none;
    font-weight: 500;
}

#togglebar li a {
    color: black;
}

    #togglebar li a.active {
        color: #01bce9;
        border-bottom: 1px solid #01bce9;
        background: none;
        font-weight: 500;
    }


[data-bs-theme=dark] #togglebar li a {
    color: white;
}

    [data-bs-theme=dark] #togglebar li a.active {
        color: #01bce9;
    }

#adminNav {
    background-color: white;
}

[data-bs-theme=dark] #navToggle li a {
    color: white;
}

    [data-bs-theme=dark] #navToggle li a.active {
        color: #01bce9;
    }


[data-bs-theme=dark] #adminNav {
    background-color: #212529;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    background-color: #f7f7f7;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

[data-bs-theme=dark] .sidebar {
    background-color: #2b3035;
}

.sidebar ul {
    list-style: none;
    margin-top: 2rem;
}

.sidebar a {
    margin: 1rem;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

    .sidebar a:hover {
        color: #01bce9;
    }

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin: 0px;
    margin-left: 50px;
    color: #01bce9;
}

.sidebar .p1 {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 20px;
    margin-right: 50px;
    color: #01bce9;
}

.sidebar .nameOfuser {
    position: absolute;
    top: 45px;
    left: 10px;
    font-size: 20px;
    margin-right: 50px;
    color: #01bce9;
}

.navi:hover {
    background-color: green;
}

.nav-item.active, .nav-item:active {
    border-bottom: solid 1px;
    border-block-color: green
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*ChatBox*/

.sidebarChat {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    background-color: #f7f7f7;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    max-height: 100vh;
    z-index: 9999999999;
}

[data-bs-theme="dark"] .sidebarChat {
    background-color: #2b3035;
    color: white;

}

    [data-bs-theme="dark"] .sidebarChat .msgSpan {
        color: #2b3035;
    }

.sidebarChat .nameOfuser {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 20px;
    margin-right: 50px;
    color: #01bce9;
}
.sidebarChat .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin: 0px;
    margin-left: 50px;
    color: #01bce9;
}

.sidebarChat .msgContainer {
    height: 78vh;
    overflow-y: scroll;
}

.sidebarChat .msgSpan {
    background-color: lightblue;
}
/*loader*/
.loader {
    position: absolute;
    top: 45%;
    left: 49%;
    z-index: 9999;
    border: 2px solid;
    border-color: transparent #000;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        border: 24px solid;
        border-color: transparent rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

[data-bs-theme="light"] .loader::after {
    border-color: transparent rgba(0,0,0,0.15);
}

[data-bs-theme="dark"].loader::after {
    border-color: transparent rgba(255,255,255,0.15);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
        width: 60vw;
    }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 5px;
        }

        .sidebar .nameOfuser {
            font-size: 10px;
        }

        .sidebar a {
            font-size: 18px;
            margin: 0px;
            margin-bottom: 1rem;
        }
}
