
# ul li a{
    color: black;
}

#tabs ul li a.active {
    color: #01bce9;
    border-bottom: 1px solid #01bce9;
    background: none;   
    font-weight: 500;
}

#doc {
    color: #01bce9;
}


#back-btn {
    /* background: none; */
    color: #01bce9;
    border: 1px solid #01bce9;
    border-radius: 10%;
    padding: 10px;
}

    #back-btn:hover {
        color: white;
        background-color: #00adef;
    }

        #back-btn:hover img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        }


    #back-btn img {
        filter: invert(55%) sepia(96%) saturate(2452%) hue-rotate(154deg) brightness(102%) contrast(99%);
    }