@model FamilyViewModel;
@{
    ViewData["Title"] = "Create Request";
}

@section Styles {
    <link rel="stylesheet" href="~/css/submit-request-screen.css">
    <link rel="stylesheet" href="~/css/PatientDashBoard.css">
    <link rel="stylesheet" href="~/css/create-patient-request.css">

    <!-- js ans css for phone input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
}
<div class="d-flex justify-content-between align-items-center ms-auto me-auto" style="max-width: 1000px; width: 100%; ">
    <div>

    <h4>Submit Innformation</h4>
    </div>
    <a href="@Url.Action("Back")" class="m-2 text-decoration-none float-end"
       id="create-patient-request-backBtn">
        <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
        <span>Back</span>
    </a>
</div>
<div class="container-fluid d-flex justify-content-center">
    <form method="post" asp-controller="Patient" asp-action="CreateRequest" enctype="multipart/form-data" id="patient-request-form" class="form-floating patient-request-form p-2">

        <partial name="_PatientForm" />

        <h4 class="mt-4 mb-4 ms-2">(Optional) Upload Photo or Document</h4>
        <div class="input-group m-1 mb-3">
            <input name="formFile" type="file" id="actualFileBtn" class="form-control" id="inputGroupFile02" hidden>
            <span  id="fileChoosen" class="form-control">No file chosen</span>
            <label class="input-group-text" id="uploadFileLabel" for="actualFileBtn">
                <img src="~/images/cloud_upload.svg" alt="">
                Upload
            </label>
        </div>
        <button type="submit" id="cancelBtn" class="btn btn-primary float-end m-1">Cancel</button>
        <button type="submit" id="submitBtn" class="btn btn-primary float-end m-1">Submit</button>
    </form>
</div>

@section Scripts {
    <script>

    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
