@model ProfileEditViewModel;
@{
    ViewData["Title"] = "Patient Dashboard";
}

@section Styles {
    <!-- js ans css for phone input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <link rel="stylesheet" href="~/css/submit-request-screen.css">
    <link rel="stylesheet" href="~/css/PatientDashBoard.css">
    <link rel="stylesheet" href="~/css/create-patient-request.css">
    <link rel="stylesheet" href="~/css/validation.css">

}
<div class="tab-pane fade show " id="tab2">
    <div class="container d-flex justify-content-between mt-4" style="max-width:1000px">
        <h4>User Profile</h4>
        <a href="@Url.Action("Back")" class="btn m-2 text-decoration-none float-end"
           id="back-btn">
            <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
            <span>Back</span>
        </a>
    </div>
    <div class="container-fluid d-flex justify-content-center mt-4">

        <form id="patient-request-form" method="post" asp-action="MyProfile" asp-controller="Patient" class="form-floating shadow patient-request-form p-2">
                <input asp-for="UserId" hidden />
                <span asp-validation-for="UserId"></span>
                <h4 class="mt-4 mb-4 ms-2">General Information</h4>
                <div class="row g-2 m-1">
                    <div class="col-md">
                        <div class="form-floating">
                        <input asp-for="Firstname" type="text" class="form-control disableInput firstnameInput" placeholder="" disabled>
                            <label for="">First Name</label>
                        </div>
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                        <input asp-for="Lastname" type="text" class="form-control disableInput firstnameInput" placeholder="" disabled>
                            <label for="floatingSelectGrid">Last Name</label>
                        </div>
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                </div>

                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                        <input asp-for="Strmonth" type="date" class="form-control disableInput dobInput" placeholder="" disabled>
                            <label for="">Date Of Birth</label>
                        </div>
                        <span asp-validation-for="Strmonth" class="text-danger"></span>
                    </div>
                </div>

                <h4 class="mt-4 mb-4 ms-2">Patient Contact Information</h4>
                <div class="row g-2 m-1">
                    @*<div class="col-md-2">
                    <div class="dropdown h-100">
                    <select class="form-select h-100" aria-label="type">
                    <option selected>type</option>
                    <option value="1">Mobile</option>
                    <option value="2">Laptop</option>
                    </select>
                    </div>
                    </div>*@
                    <div class="col-md-6">
                        <div class="form-floating">
                        <input asp-for="Email" id="checkEmail" type="email" class="form-control emailInput" placeholder="name@example.com" disabled>
                            <label for="">Email</label>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating phone-div w-100 h-100 ">
                        <input asp-for="Phonenumber" type="tel" id="Phone" class="Phone  form-control w-100 h-100" placeholder="" disabled>
                            <label for=""></label>
                        </div>
                        <span asp-validation-for="Phonenumber" class="text-danger"></span>
                    </div>
                </div>


                <h4 class="mt-4 mb-4 ms-2">Location Information</h4>
                <div class="row g-2 m-1">       
                    <div class="col-md-6">
                        <div class="form-floating">
                        <input asp-for="Street" type="text" class="form-control disableInput" placeholder="" disabled>
                            <label for="">Street</label>
                        </div>
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                        <input asp-for="City" type="text" class="form-control disableInput" placeholder="" disabled>
                            <label for="">City</label>
                        </div>
                        <span asp-validation-for="City" class="text-danger "></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                        <input asp-for="State" type="text" class="form-control disableInput" placeholder="" disabled>
                            <label for="">State</label>
                        </div>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                        <input type="text" asp-for="Zipcode" class="form-control disableInput" placeholder="" disabled>
                            <label for="">Zip Code</label>
                        </div>
                        <span asp-validation-for="Zipcode" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <a target="_blank" id="mapBtn" href="http://maps.google.com/?q= +@Model.State + @Model.City + @Model.Street"
                           class="btn d-flex align-item-center rounded h-100 w-100" style="color: #10bce9 ; border: 1px solid #10bce9">
                            <img src="~/images/map.svg" class="h-50 m-auto" /><span class="m-auto">Map</span>
                        </a>
                    </div>
                </div>
            <br />
            <button type="reset" onclick="cancelEdit()" id="cancelBtn" class="btn btn-primary float-end m-1 d-none">Cancel</button>
            <button type="submit" id="submitBtn" class="btn btn-primary float-end m-1 d-none">Submit</button>
            <button type="button" onclick="editDetails()" id="editBtn" class="btn btn-primary float-end m-1 d-block">Edit</button>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script>
        const Phone = document.getElementById("Phone");
        var phoneInput = window.intlTelInput(Phone,
            {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                preferredCountries: ["in"],
                separateDialCode: true,
                initialCountry: "in"
            });
    </script>
}